div{
    background-color: green;
}

body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}


h2{
    text-align: center;
    color: white;
    background-color: black;
}



