div{
    background-color: green;
}

body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;
}

h2{
    text-align: center;
    color: white;
    background-color: black;
}